shen2020_paper_code/
archived_notebooks/
notes/
*.DS_Store
*__pycache__/
*.pdf
*.png
*.svg
*-blx.bib
*.bbl
*.toc
*.bcf
*.dvi
*.aux
*.log
*.key
*.run.xml
*.synctex.gz
*.tar.gz
*.blg
*.npy
*.npz
results/for_plots/*.json
*.h5
*.xlsx
*.git
.fossil-settings/
*.fossil
.fslckout
*.ipynb_checkpoints/
