notes/
*.DS_Store
*__pycache__/
*.pdf
*.png
*.svg
*-blx.bib
*.bbl
*.toc
*.bcf
*.dvi
*.aux
*.log
*.key
*.run.xml
*.synctex.gz
*.tar.gz
*.blg
*.npy
*.npz
results/for_plots/*.json
results/for_plots/*.txt
results/for_plots/backups/*.json
results/performance_w/*.json
*.h5
*.hdf
*.xlsx
*.git
.fossil-settings/
*.fossil
.fslckout
*.ipynb_checkpoints/
final_plotting/panel*/*.pdf
